header{
    background-color: rgb(158, 157, 154);
    border: 1px solid black;
   text-align: center;
}
.a{
    height: 500px;
    
    float: left;
    width: 46%;
    margin: 15px;
    
}
.a>img{
    float: left;
    margin-right: 20px;
}
.b{
    height: 500px;
   
    float:right;
    width: 46%;
    margin: 15px;
}
.b>img{
    float: right;
    margin-left: 15px;
}