  
       .v{
        display: flex;
        justify-content: center;
    }
     .f{
         
         border: 1px solid black ;
         padding: 20px 10px;
         height: fit-content;
         width: max-content;
         border-radius: 15px;  
        
     }

     .f h2{
         text-align: center;
     }

     .f label{
         font-weight: bold;
         margin:5px;
        
     }
     .f a input{
      outline: 0;
      border-width: 0 0 1px;
      border-color: black;
      margin: 5px;
      }
      .f a input:focus{
          border-color: blue
      }
      .b{
          text-align: center;
      }
