
table {
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    margin-top: 50px;
}
th{
    width: 110px;
    border: 1px solid black;
    font-size: large;
    background-color: rgb(6, 189, 21);
    color: rgb(248, 245, 245);
}
tr {
    height: 40px;
}
td {
    border: 1px solid black;
}
.x{
    width: 200px;
}
.y{
    width: 20px;
}
.z{
    background-color: rgb(94, 248, 89);
}
.a{
    background-color: rgb(204, 204, 204);
}